<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>

    <title>Sirs-Inventory</title>

</head>

<body>

    <div layout:fragment="content">

       <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body mt-5">

            <div class="container">

                <div class="justify-content-center">

                    <div class="col-xl-10">
                        <div class="card ">
                            <div class="card-body">
                                <h4 class="card-title">Available Products</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped verticle-middle">
                                        <thead>
                                            <tr>
                                                <th scope="col">Id</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Product_Type</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="row : *{available_products}">
                                                <td th:text="${row.getId()}"></td>
                                                <td th:text="${row.getName()}"></td>
                                                <td th:text="${row.getProductType().getName()}"></td>
                                                <td th:text="${row.getQuantity()}"></td>
        <!--                                    <td><a th:href="@{/productTypes/edit/{id}(id=${row.getId()})}"><i class="fa fa-pencil color-muted m-r-5"></i></a> | <a th:href="@{/productTypes/delete/{id}(id=${row.getId()})}"><i class="fa fa-close color-danger"></i></a></td>-->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>

</html>