<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>

    <title>My Stock Management</title>

</head>

<body>

    <div layout:fragment="content">

        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body mt-5">

            <div class="container">

                <div class="justify-content-center">
                    <div class="col-xl-7">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Assign Role</h4>
                                <div class="basic-form">
                                    <form method="post" th:object="${user}" th:action="${'/users/assignNewRole/' + user.id}">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Name</label>
                                                <label type="text"  class="form-control disabled" th:text="${name}"></label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Role</label>
                                                <select id="name" name="name" class="form-control">
                                                    <option selected="selected">Choose...</option>
                                                    <option th:each="code : ${roles}" th:value="${code.getName()}" th:text="${code.getName()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-dark" name="addRole" id="addRole" value="Assign Role">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--**********************************
               Content body end
           ***********************************-->

    </div>

</body>

</html>