<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>

    <title>My Stock Management</title>

</head>

<body>

    <div layout:fragment="content">

        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body mt-5">

            <div class="container">

                <div class="justify-content-center">

                    <div class="col-xl-12">
                        <div class="card ">
                            <div class="card-body">
                                <h4 class="card-title">Users List</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped verticle-middle" id="available">
                                        <thead>
                                        <tr>
                                            <th scope="col">S/N</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="row : *{users}">
                                            <td th:text="${row.getId()}"></td>
                                            <td th:text="${row.getLastName()}"></td>
                                            <td th:text="${row.getFirstName()}"></td>
                                            <td th:text="${row.getEmail()}"></td>
                                            <td th:text="${row.getAddress()}"></td>
                                            <td><a th:href="@{/users/edit/{id}(id=${row.getId()})}"><button class="btn btn-warning btn"><i class="fa fa-pencil color-muted m-r-5"></i></button></a> </td>
                                            <td><a data-toggle="modal" data-target="#staticBackdrop" th:attr="data-target='#staticBackdrop'+${row.getId()}"><button class="btn btn-warning btn"><i class="fa fa-close color-danger"></i></button></a></td>
                                            <td><a th:href="@{/users/assignRole/{id}(id=${row.getId()})}"><button type="submit" class="btn btn-success" name="button">Assign Role</button></a></td>

                                            <div class="modal fade" th:id="staticBackdrop+${row.getId()}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title float-left">Delete User</h3>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4>Are you sure want to delete this User?</h4>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline mr-5" data-dismiss="modal">Close</button>
                                                            <a type="button" class="btn btn-danger" th:href="@{/users/delete/{id}(id=${row.getId()})}">Yes</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!--**********************************
               Content body end
           ***********************************-->

    </div>

    <section layout:fragment="scripts">

        <script>

            function serialNo(){
                const table = document.getElementById("available");
                let s_No = 1;
                for (let line=1; line < table.rows.length; line++){
                    table.rows[line].cells[0].innerHTML = s_No.toString();
                    s_No++;
                }
            }
            serialNo();
        </script>

    </section>

</body>

</html>