<!--<!DOCTYPE html>-->

<!--<html lang="en" xmlns:th="https://www.thymeleaf.org"-->
<!--      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{layout}">-->

<!--<head>-->

<!--    <title>Sirs-Inventory</title>-->

<!--</head>-->

<!--   <div layout:fragment="content">-->

<!--        &lt;!&ndash;**********************************-->
<!--            Content body start-->
<!--        ***********************************&ndash;&gt;-->

<!--        <div class="content-body mt-5">-->

<!--            <div class="container">-->

<!--                <div class="justify-content-center">-->
<!--                    <div class="col-xl-7">-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <h4 class="card-title">Create Item Group</h4>-->
<!--                                <div class="basic-form">-->
<!--                                    <form>-->
<!--                                        <div class="form-group">-->
<!--                                            <label>Name</label>-->
<!--                                            <input type="text" class="form-control" placeholder="Name" name="name" id="name" required>-->
<!--                                        </div>-->
<!--                                        <button type="submit" class="btn btn-dark" name="saveProductType" id="saveTypeProduct">Save</button>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--   </div>-->

<!--</body>-->

<!--</html>-->