<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>

    <title>Sirs-Inventory</title>

</head>

<body>

   <div layout:fragment="content">

       <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body mt-5">

            <div class="container">

                <div class="justify-content-center">
                    <div class="col-xl-7">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Edit Purchase</h4>
                                <div class="basic-form">
                                    <form action="#" th:object="${purchase}" th:action="${'/purchases/update'}" method="post">

                                        <input type="hidden"  th:field="*{id}" name="id">

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Quantity</label>
                                                <input type="number" class="form-control" id="quantity" name="quantity" th:field="*{quantity}">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Price</label>
                                                <input type="number" class="form-control" id="price" name="price" th:field="*{price}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Date</label>
                                            <input type="datetime-local" class="form-control" th:field="*{datePurchased}" id="datePurchase" name="datePurchase">
                                        </div>
                                        <button type="submit" class="btn btn-dark" name="saveProduct" id="saveProduct">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--**********************************
               Content body end
         ***********************************-->

   </div>

</body>

</html>
