<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>

    <title>Sirs-Inventory</title>

</head>

<body>

    <div layout:fragment="content">

        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body mt-5">

            <div class="container">

                <div class="justify-content-center">
                    <div class="col-xl-7">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Sales</h4>
                                <div class="basic-form">
                                    <form method="post" th:object="${product}" th:action="${'/sales/add'}">

<!--                                        <div th:if="${error}" class="alert alert-error">-->
<!--                                            <span th:text="${error}"></span>-->
<!--                                        </div>-->

                                        <input type="hidden" id="id" name="id" th:field="*{id}">

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Customer</label>
                                                <select id="customer" name="customer" class="form-control">
                                                    <option selected="selected">Choose...</option>
                                                    <option th:each="c : ${customer}" th:value="${c.getEmail()}" th:text="${c.getEmail()}"></option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Item</label>
                                                <input type="text" class="form-control" placeholder="Item" id="name" name="name" th:field="*{name}" readonly>
                                                <!--<select id="product" name="product" class="form-control">-->
<!--                                                 <option selected="selected">Choose...</option>-->
<!--                                                 <option th:each="code : ${product}" th:value="${code.getName()}" th:text="${code.getName()}"></option>-->
<!--                                            </select>-->
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Quantity</label>
                                                <input type="number" class="form-control" id="quantity" name="quantity" th:field="*{quantity}" readonly>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Sales Quantity</label>
                                                <input type="number"  id="salesQuantity"  onkeyup="multiplyClick()" name="salesQuantity" class="form-control" placeholder="Sales Quantity" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Total Price</label>
                                                <input type="number" class="form-control" id="total"  name="totalPrice" readonly>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Unit Price</label>
                                                <input type="number" class="form-control" placeholder="Price" id="price" name="price" th:value="*{price}" th:field="*{price}" readonly>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Sales Man</label>
                                                <select id="user" name="user" class="form-control">
                                                    <option selected="selected">Choose...</option>
                                                    <option th:each="r : ${user}" th:value="${r.getLastName()}" th:text="${r.getLastName()}"></option>
                                                </select>
<!--                                                <input type="hidden" id="user" name="id" th:field="*{}">-->
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Tax (%)</label>
                                                <input type="number" class="form-control" onkeyup="multiplyClick()" id="tax" name="tax" style="width: 30%;">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-dark" name="saveSale" id="saveSale">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--**********************************
              Content body end
        ***********************************-->

    </div>

</body>

</html>