<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>

    <title>Sirs-Inventory</title>

</head>

<body>

    <div layout:fragment="content">


        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body mt-5">

            <div class="container">

                <div class="justify-content-center mt-5">

                    <div class="input-group icons" style="width: 170px">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" id="myInput" class="form-control" placeholder="Search List">
                    </div>

                    <div class="col-xxl-12 mt-5">
                        <div class="card ">
                            <div class="card-body">
                                <h4 class="card-title">Sale List</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped verticle-middle" id="available">
                                        <thead>
                                            <tr>
                                                <th scope="col">S/N</th>
                                                <th scope="col">Customer</th>
                                                <th scope="col">Item</th>
                                                <th scope="col">Sales Man</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Unit Buying Price</th>
                                                <th scope="col">Date Purchased</th>
                                                <th scope="col">Total Price</th>
<!--                                                <th scope="col">Edit</th>-->
                                                <th scope="col">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody id="myTable">
                                            <tr th:each="row : *{sales}">
                                                <td th:text="${row.getId()}"></td>
                                                <td th:text="${row.getCustomer().getEmail()}"></td>
                                                <td th:text="${row.getProduct().getName()}"></td>
                                                <td th:text="${row.getUser().getLastName()}"></td>
                                                <td th:text="${row.getSalesQuantity()}"></td>
                                                <td th:text="'&#8358;' + ${row.getProduct().getPrice()} + '0'"></td>
                                                <td th:text="${#dates.format(row.getDateSold(),'dd-MMM-yyyy HH:mm:ss a')}"></td>
                                                <td th:text="'&#8358;' + ${row.getTotalPrice()} + '0'"></td>

<!--                                            <td><a th:href="@{/sales/edit/{id}(id=${row.getId()})}"><button class="btn btn-warning btn"><i class="fa fa-pencil color-muted m-r-5"></i></button></a></td>-->
                                                <td><a data-toggle="modal" data-target="#staticBackdrop" th:attr="data-target='#staticBackdrop'+${row.getId()}"><button class="btn btn-warning btn"><i class="fa fa-close color-danger"></i></button></a></td>

                                                <div class="modal fade" th:id="staticBackdrop+${row.getId()}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h3 class="modal-title float-left">Delete Sale</h3>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h4>Are you sure want to delete this Sale?</h4>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-outline mr-5" data-dismiss="modal">Close</button>
                                                                <a type="button" class="btn btn-danger" th:href="@{/sales/delete/{id}(id=${row.getId()})}">Yes</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div th:if="${allSales}" class="mt-3">
                                    <span>We have the total of</span>
                                    <span class="alert alert-info text-success" th:text="${allSales}"></span>
                                    <span>Items Made.</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--**********************************
               Content body end
        ***********************************-->

    </div>

    <section layout:fragment="scripts">

        <script>

            function serialNo(){
                const table = document.getElementById("available");
                let s_No = 1;
                for (let line=1; line < table.rows.length; line++){
                    table.rows[line].cells[0].innerHTML = s_No.toString();
                    s_No++;
                }
            }
            serialNo();
        </script>

    </section>

</body>

</html>