<!DOCTYPE html>

<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="author" content="Azeez Taofeeq">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/l-white.png}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body class="h-100">



    <div class="login-form-bg h-100 ">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="error-content">
                        <div class="card mb-0">
                            <div class="card-body text-center">
                                <h1 class="error-text text-primary">500</h1>
                                <h4 class="mt-4"><i class="fa fa-thumbs-down text-danger"></i> INTERNAL_SERVER_ERROR</h4>
                                <p>Your Request resulted in an error.</p>
                                <form class="mt-5 mb-5">
                                    
                                    <div class="text-center mb-4 mt-4"><a th:href="@{/logout}" class="btn btn-primary">Go to Homepage</a>
                                    </div>
                                </form>
                                <div class="text-center">
                                    <p>Copyright &copy; Designed & Developed by <a href="#">Sirs</a> 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>
</body>
</html>





