<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout2}">

<head>

    <title>Sirs-Inventory</title>

</head>

<body>

    <div layout:fragment="content">

        <!--**********************************
            Content body start
        ***********************************-->

        <!-- about -->
        <!-- courses -->
        <div class="courses">
            <div class="container">
                <h2 class="agileits-title">About</h2>
                <div class="agileits_w3layouts_team_grids w3ls_courses_grids">
                    <div class="col-md-8 w3ls_banner_bottom_left w3ls_courses_left">
                        <div class="w3ls_courses_left_grids">
                            <div class="w3ls_courses_left_grid">
                                <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Moral</h3>
                                <p>“Simple can be harder than complex. You have to work hard to get your thinking clean to make it simple. But it’s worth it in the end because once you get there, you can move mountains.”
                                    - Steve Jobs</p>
                            </div>
                            <div class="w3ls_courses_left_grid">
                                <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Our Story</h3>
                                <p>Inventory Now is built and maintained by a small team of developers in Charleston, SC. It was originally created in 2020 as a lightweight tool for ticket brokers to manage their inventory. Since we started, its been great to see so many people use the app to do SO much more!
                                    Recently, after years of gathering support and feedback, we completely redesigned and rewrote the entire app in order to create a platform that would allow us to scale and add all of the features that you told us you wanted. Today, we are delivering the most robust, most customizable and (most importantly) the most simple solution available.
                                    We strongly believe in the power of simplicity through design and work tirelessly to ensure every feature we create meets our high standards. </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 agileits_courses_right">
                        <img src="/images/inventory.png" alt=" " class="img-responsive">
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!-- //courses -->
        <!-- //about -->

        <!--**********************************
           Content body end
      ***********************************-->

    </div>


</body>
</html>