<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>

    <title>Sirs-Inventory</title>

</head>

<body>

    <div layout:fragment="content">

      <!--**********************************
        Content body start
      ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">

                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-1">
                            <div class="card-body">
                                <h3 class="card-title text-white">Item Category</h3>
                                <div class="d-inline-block" th:if="${allProductTypes}">
                                    <h2 class="text-white" th:text="${allProductTypes}"></h2>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">Net Profit</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">$ 8541</h2>
                                    <p class="text-white mb-0">Jan - March 2019</p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-3">
                            <div class="card-body">
                                <h3 class="card-title text-white">Customers</h3>
                                <div class="d-inline-block" th:if="${allCustomers}">
                                    <h2 class="text-white" th:text="${allCustomers}"></h2>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-4">
                            <div class="card-body">
                                <h3 class="card-title text-white">Items</h3>
                                <div class="d-inline-block" th:if="${allProducts}">
                                    <h2 class="text-white" th:text="${allProducts}"></h2>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-basket"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="my-2">
            </div>
        </div>

        <!--**********************************
             Content body end
         ***********************************-->

    </div>

</body>

</html>
