<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>

    <title>Sirs-Inventory</title>

</head>

<body>

    <div layout:fragment="content">

      <!--**********************************
        Content body start
      ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3>Product Details</h3>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td><h5>All Item Group:</h5></td>
                                            <td><span th:text="${count}"></span></td>
                                        </tr>
                                        <tr>
                                            <td><h5>All Item:</h5></td>
                                            <td><h5></h5></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3>Customer Details</h3>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td><h5>All Customers:</h5></td>
                                            <td><h5> <span></span></h5></td>
                                        </tr>
                                        <tr>
                                            <td><h5>Total Sales:</h5></td>
                                            <td><h5></h5></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>

                <hr class="my-2">

                <div class="row">
                    <div class="col-12 m-b-30">
                        <h3 class="d-inline">Top Selling Products</h3>
                        <p class="text-muted"></p>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <div class="card-header bg-white">
                                        <h5 class="card-title">Designed Notes</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">$400</h6>
                                    </div>
                                    <img class="img-fluid" src="/images/big/gallery-4.png" alt="">
                                    <div class="card-body">
                                        <p class="card-text">Apple's Designed Notes 13-inch MacBook Pro is $400 off at Sirs in pre-Prime Our laptop deal.</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted"></small>
                                        </p><a href="#" class="card-link float-right" data-toggle="modal" data-target="#staticBackdrop"><small>Details</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <div class="card-header bg-white">
                                        <h5 class="card-title">Wireless keyboard/Mouse</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">$432</h6>
                                    </div>
                                    <img class="img-fluid" src="/images/big/gallery-6.png" alt="">
                                    <div class="card-body">
                                        <p class="card-text">Apple's 2020 13-inch Keyboard Pro is $432 off at Sirs in pre-Prime Our laptop deal.</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted"></small>
                                        </p><a href="#" class="card-link float-right" data-toggle="modal" data-target="#staticBackdrop"><small>Details</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <div class="card-header bg-white">
                                        <h5 class="card-title">Uncommon Flower Vase</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">$987</h6>
                                    </div>
                                    <img class="img-fluid" src="/images/big/gallery-1.png" alt="">
                                    <div class="card-body">
                                        <p class="card-text">Foldable Natural Seagrass Ceramic Storage Pot Garden Flower Vase Hanging Basket.</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted"></small>
                                        </p><a href="#" class="card-link float-right" data-toggle="modal" data-target="#staticBackdrop"><small>Details</small></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card">
                                    <div class="card-header bg-white">
                                        <h5 class="card-title">Apple Laptop</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">$199</h6>
                                    </div>
                                    <img class="img-fluid" src="/images/big/gallery-5.png" alt="">
                                    <div class="card-body">
                                        <p class="card-text">Apple's 2020 13-inch MacBook Pro is $199 off at Sirs in pre-Prime Our laptop deal</p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="card-text d-inline"><small class="text-muted"></small>
                                        </p><a href="#" class="card-link float-right" data-toggle="modal" data-target="#staticBackdrop"><small>Details</small></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h4 class="d-inline justify-content-center">Sorry.... You can't access it here</h4>
                                <p class="text-muted justify-content-center">check out for it on your<a href="/./products/list"> Item List </a></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


                <hr class="my-2">

                <div class="row mt-5">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="/./images/users/8.jpg" class="rounded-circle" alt="">
                                    <h5 class="mt-3 mb-1">Olanite Razaq</h5>
                                    <p class="m-0">Senior Manager</p>
<!--                                     <a href="javascript:void()" class="btn btn-sm btn-warning">Send Message</a>-->
                                    <span class="m-0"><i class="fa fa-phone"></i> 0801234568</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="/./images/users/5.jpg" class="rounded-circle" alt="">
                                    <h5 class="mt-3 mb-1">Adepo Hafeez</h5>
                                    <p class="m-0">Store Manager</p>
<!--                                    <a href="javascript:void()" class="btn btn-sm btn-warning">Send Message</a>-->
                                    <span class="m-0"><i class="fa fa-phone"></i> 080998468</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="/./images/users/7.jpg" class="rounded-circle" alt="">
                                    <h5 class="mt-3 mb-1">Lawal Rahman</h5>
                                    <p class="m-0">Sales Man</p>
<!--                                  <a href="javascript:void()" class="btn btn-sm btn-warning">Send Message</a>-->
                                    <span class="m-0"><i class="fa fa-phone"></i> 08000468</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="/./images/users/1.jpg" class="rounded-circle" alt="">
                                    <h5 class="mt-3 mb-1">Azeez Taofeeq</h5>
                                    <p class="m-0">Online Marketer</p>
<!--                                 <a href="javascript:void()" class="btn btn-sm btn-warning">Send Message</a>-->
                                    <span class="m-0"><i class="fa fa-phone"></i> 080332568</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--**********************************
             Content body end
         ***********************************-->

    </div>

</body>

</html>
