<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>

    <title>Sirs-Inventory</title>

</head>

<body>

   <div layout:fragment="content">

        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body mt-5">

            <div class="container">

                <div class="mr-5">
                    <h3>Welcome, <span sec:authentication="name">lastName</span></h3>
                </div>

                <hr class="my-2">

                <div class="justify-content-center mt-3">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4>User Details</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table header-border table-hover verticle-middle">
                                        <thead>
                                            <tr>
                                                <td>Id:</td>
                                                <td th:text="${user.getId()}"></td>
                                            </tr>
                                            <tr>
                                                <td>First Name:</td>
                                                <td th:text="${user.getFirstName()}"></td>
                                            </tr>
                                            <tr>
                                                <td>Last Name :</td>
                                                <td th:text="${user.getLastName()}"></td>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <td>Email:</td>
                                                <td th:text="${user.getEmail()}"></td>
                                            </tr>
                                            <tr>
                                                <td>Username:</td>
                                                <td th:text="${user.getUsername()}"></td>
                                            </tr>
                                            <tr>
                                                <td>Address:</td>
                                                <td th:text="${user.getAddress()}"></td>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--**********************************
                Content body end
        ***********************************-->

   </div>

</body>

</html>
