<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">


<head>

    <title>Sirs-Inventory</title>

</head>

<body>

     <div layout:fragment="content">

          <!--**********************************
                Content body start
           ***********************************-->

          <div class="content-body mt-5">

              <div class="input-group icons ml-auto mr-4" style="width: 170px">
                  <div class="input-group-prepend">
                      <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                  </div>
                  <input type="search" id="myInput" class="form-control" placeholder="Search List">
              </div>

              <div class="container mt-5">

                    <div class="justify-content-center mt-5">

                        <div class="bootstrap-modal">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary ml-4" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-plus"></i> Add New Customer</button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Add New Customer</h5>
                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="basic-form">
                                                <form method="post" th:action="${'/customers/add'}">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label>Last Name</label>
                                                            <input type="text" class="form-control" placeholder="Last Name" id="lastName" name="lastName" required>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>First Name</label>
                                                            <input type="text" class="form-control" placeholder="First Name" id="firstName" name="firstName" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Address</label>
                                                        <input type="text" class="form-control" placeholder="1234 Main St" id="address" name="address" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <input type="email" class="form-control" placeholder="Email" id="email" name="email" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Phone</label>
                                                        <input type="number" class="form-control" placeholder="Phone" id="phone" name="phone" required>
                                                    </div>
                                                    <button type="submit" class="btn btn-success m-b-10 m-l-5" name="saveCustomer" id="toastr-success-top-full-width">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12 mt-5">
                            <div class="card ">
                                <div class="card-body">
                                    <h4 class="card-title">Customer List</h4>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped verticle-middle" id="available">
                                            <thead>
                                                <tr>
                                                    <th scope="col">S/N</th>
                                                    <th scope="col">Last Name</th>
                                                    <th scope="col">First Name</th>
                                                    <th scope="col">Phone</th>
                                                    <th scope="col">Address</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody id="myTable">
                                                <tr th:each="row : *{customers}">
                                                    <td th:text="${row.getId()}"></td>
                                                    <td th:text="${row.getLastName()}"></td>
                                                    <td th:text="${row.getFirstName()}"></td>
                                                    <td th:text="${row.getPhone()}"></td>
                                                    <td th:text="${row.getAddress()}"></td>
                                                    <td th:text="${row.getEmail()}"></td>
                                                    <td><a th:href="@{/customers/edit/{id}(id=${row.getId()})}"><button class="btn btn-warning btn"><i class="fa fa-pencil color-muted m-r-5"></i></button></a></td>

<!--                                                    <td><a th:href="@{/customers/delete/{id}(id=${row.getId()})}"><button class="btn btn-warning btn sweetalert m-t-30 sweet-success-cancel"><i class="fa fa-close color-danger"></i></button></a></td>-->

                                                    <td><a data-toggle="modal" data-target="#staticBackdrop" th:attr="data-target='#staticBackdrop'+${row.getId()}"><button class="btn btn-warning btn"><i class="fa fa-close color-danger"></i></button></a></td>

                                                    <div class="modal fade" th:id="staticBackdrop+${row.getId()}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h3 class="modal-title float-left">Delete Customer</h3>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <h4>Are you sure want to delete this Customer?</h4>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-outline mr-5" data-dismiss="modal">Close</button>
                                                                    <a type="button" class="btn btn-danger" th:href="@{/customers/delete/{id}(id=${row.getId()})}">Yes</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

          </div>

          <!--**********************************
            Content body end
          ***********************************-->

     </div>

     <section layout:fragment="scripts">

         <script>
             $(document).ready(function(){
                 $("#myInput").on("keyup", function() {
                     let value = $(this).val().toLowerCase();
                     $("#myTable tr").filter(function() {
                         $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                     });
                 });
             });
         </script>

         <script>

             function serialNo(){
                 const table = document.getElementById("available");
                 let s_No = 1;
                 for (let line=1; line < table.rows.length; line++){
                     table.rows[line].cells[0].innerHTML = s_No.toString();
                     s_No++;
                 }
             }
             serialNo();
         </script>

     </section>



</body>

</html>